#btnMenu{
    background-color: red;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}

#btnMenu:hover{
    cursor: pointer;
}

menu{
    position: absolute;
    background-color: brown;
    margin: 0;
    padding: 0;
    display: none;
}

menu ul{
    list-style: none;
    padding: 0px 30px
;
}

main{
    width: 100%;
    background-color: aquamarine;
    height: 500px;
}